.env
/.idea
/vendor
/node_modules
/bower_components/
/$RECYCLE.BIN/
/.idea_modules/
/public/build/
/public/css/
/public/js/pickadate/
/public/js/all.js
/public/js/scripts.js
/public/js/bower.js
/public/js/*.map
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
composer.lock
composer.phar
*.iml
atlassian-ide-plugin.xml